.logo {
  height: 150px;
  cursor: pointer;
}

.subtitle {
  font-style: italic;
  font-size: x-large;
  color: coral;
}

.themeFontColor {
  color: coral;
}

tr {
  cursor: pointer;
}

.btn-primary {
  background-color: coral !important;
  border-color: coral !important;
}

.btn-primary:hover{
  background-color: #EA9575 !important;
  border-color: #EA9575 !important;
}